<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>524357C0-F5A0-4E6D-A6D0-04285AA0E293</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.i</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
