<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7109985D-2B2E-4F8C-94E3-7C7F9A0C3E83</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.U-cy</key>
      <integer>14</integer>
    </dict>
  </dict>
</plist>
