<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A3E29178-10DD-4175-9BA6-0D81F5EEDAA6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.uhorn</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
