<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>761</integer>
    <key>capHeight</key>
    <integer>703</integer>
    <key>copyright</key>
    <string>Copyright (c) 2011 by Mariela Monsalve and Angelina Sanchez (marmonsalve@gmail.com  ange_dg@yahoo.com.ar). With Reserved Font Name "Ruda-Regular". All rights reserved.</string>
    <key>descender</key>
    <integer>-166</integer>
    <key>familyName</key>
    <string>Ruda</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>788</integer>
        <key>y</key>
        <integer>822</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>x</key>
        <integer>667</integer>
        <key>y</key>
        <integer>588</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>725</integer>
        <key>y</key>
        <integer>822</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>86</integer>
        <key>y</key>
        <integer>977</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>913</integer>
        <key>y</key>
        <integer>-156</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2011/12/15 17:32:45</string>
    <key>openTypeHheaAscender</key>
    <integer>922</integer>
    <key>openTypeHheaDescender</key>
    <integer>-295</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Mariela Monsalve and Angelina Sanchez</string>
    <key>openTypeNameDesignerURL</key>
    <string>www.mukamonsalve.com.ar  www.angelinasanchez.com.ar</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Mariela Monsalve and Angelina Sanchez</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array>
      <integer>3</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>922</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-295</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>922</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>295</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-14</integer>
      <integer>0</integer>
      <integer>588</integer>
      <integer>602</integer>
      <integer>703</integer>
      <integer>717</integer>
      <integer>761</integer>
      <integer>775</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-180</integer>
      <integer>-166</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>132</integer>
      <integer>122</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>155</integer>
      <integer>158</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>Black</string>
    <key>trademark</key>
    <string>Ruda29 is a trademark of Mariela Monsalve and Angelina Sanchez.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>588</integer>
  </dict>
</plist>
