<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>515DDB1E-86CE-4171-B26A-744E3F2C2C71</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zhe-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
