<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D5158B70-A755-46A5-9772-5AA8C3D2ABE9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.P</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
