<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6C5B1380-1E13-4CE1-94A2-7E920727CE1E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ustrait-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
