<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2F58507A-E7D5-46B0-9782-782A73049F04</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
