<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EE2168C2-F86C-46C9-809C-069FED632760</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.B</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
