<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Mar 26 18, 13:27</string>
      <string>glyphs.M_ar 26 18, 13_27</string>
    </array>
    <array>
      <string>Apr 14 18, 19:19</string>
      <string>glyphs.A_pr 14 18, 19_19</string>
    </array>
    <array>
      <string>Apr 14 18, 23:05</string>
      <string>glyphs.A_pr 14 18, 23_05</string>
    </array>
    <array>
      <string>Feb 28 18, 19:47</string>
      <string>glyphs.F_eb 28 18, 19_47</string>
    </array>
    <array>
      <string>Feb 28 18, 19:50</string>
      <string>glyphs.F_eb 28 18, 19_50</string>
    </array>
    <array>
      <string>Feb 28 18, 19:53</string>
      <string>glyphs.F_eb 28 18, 19_53</string>
    </array>
    <array>
      <string>Feb 28 18, 19:55</string>
      <string>glyphs.F_eb 28 18, 19_55</string>
    </array>
    <array>
      <string>Feb 28 18, 19:56</string>
      <string>glyphs.F_eb 28 18, 19_56</string>
    </array>
    <array>
      <string>Feb 28 18, 19:57</string>
      <string>glyphs.F_eb 28 18, 19_57</string>
    </array>
    <array>
      <string>Feb 28 18, 19:58</string>
      <string>glyphs.F_eb 28 18, 19_58</string>
    </array>
    <array>
      <string>Feb 28 18, 19:59</string>
      <string>glyphs.F_eb 28 18, 19_59</string>
    </array>
    <array>
      <string>Feb 28 18, 20:01</string>
      <string>glyphs.F_eb 28 18, 20_01</string>
    </array>
    <array>
      <string>Feb 28 18, 20:02</string>
      <string>glyphs.F_eb 28 18, 20_02</string>
    </array>
    <array>
      <string>Feb 28 18, 20:03</string>
      <string>glyphs.F_eb 28 18, 20_03</string>
    </array>
    <array>
      <string>Feb 28 18, 20:04</string>
      <string>glyphs.F_eb 28 18, 20_04</string>
    </array>
    <array>
      <string>Feb 28 18, 19:11</string>
      <string>glyphs.F_eb 28 18, 19_11</string>
    </array>
    <array>
      <string>Feb 28 18, 19:12</string>
      <string>glyphs.F_eb 28 18, 19_12</string>
    </array>
    <array>
      <string>Feb 28 18, 19:14</string>
      <string>glyphs.F_eb 28 18, 19_14</string>
    </array>
    <array>
      <string>Feb 28 18, 19:16</string>
      <string>glyphs.F_eb 28 18, 19_16</string>
    </array>
    <array>
      <string>Feb 28 18, 19:17</string>
      <string>glyphs.F_eb 28 18, 19_17</string>
    </array>
    <array>
      <string>Feb 28 18, 19:20</string>
      <string>glyphs.F_eb 28 18, 19_20</string>
    </array>
    <array>
      <string>Feb 28 18, 19:22</string>
      <string>glyphs.F_eb 28 18, 19_22</string>
    </array>
    <array>
      <string>Feb 28 18, 19:23</string>
      <string>glyphs.F_eb 28 18, 19_23</string>
    </array>
    <array>
      <string>Feb 28 18, 19:24</string>
      <string>glyphs.F_eb 28 18, 19_24</string>
    </array>
    <array>
      <string>Feb 28 18, 19:25</string>
      <string>glyphs.F_eb 28 18, 19_25</string>
    </array>
    <array>
      <string>Feb 28 18, 19:26</string>
      <string>glyphs.F_eb 28 18, 19_26</string>
    </array>
    <array>
      <string>Feb 28 18, 19:27</string>
      <string>glyphs.F_eb 28 18, 19_27</string>
    </array>
    <array>
      <string>Apr 15 18, 01:44</string>
      <string>glyphs.A_pr 15 18, 01_44</string>
    </array>
    <array>
      <string>Feb 28 18, 19:28</string>
      <string>glyphs.F_eb 28 18, 19_28</string>
    </array>
    <array>
      <string>Apr 14 18, 18:55</string>
      <string>glyphs.A_pr 14 18, 18_55</string>
    </array>
    <array>
      <string>Apr 15 18, 01:42</string>
      <string>glyphs.A_pr 15 18, 01_42</string>
    </array>
    <array>
      <string>Mar 26 18, 13:20</string>
      <string>glyphs.M_ar 26 18, 13_20</string>
    </array>
    <array>
      <string>Mar 29 18, 15:20</string>
      <string>glyphs.M_ar 29 18, 15_20</string>
    </array>
    <array>
      <string>Feb 28 18, 21:25</string>
      <string>glyphs.F_eb 28 18, 21_25</string>
    </array>
    <array>
      <string>Feb 28 18, 20:15</string>
      <string>glyphs.F_eb 28 18, 20_15</string>
    </array>
    <array>
      <string>Feb 28 18, 19:29</string>
      <string>glyphs.F_eb 28 18, 19_29</string>
    </array>
    <array>
      <string>Apr 29 18, 21:08</string>
      <string>glyphs.A_pr 29 18, 21_08</string>
    </array>
    <array>
      <string>Apr 29 18, 21:15</string>
      <string>glyphs.A_pr 29 18, 21_15</string>
    </array>
    <array>
      <string>Feb 28 18, 20:16</string>
      <string>glyphs.F_eb 28 18, 20_16</string>
    </array>
    <array>
      <string>Feb 28 18, 20:17</string>
      <string>glyphs.F_eb 28 18, 20_17</string>
    </array>
    <array>
      <string>Feb 28 18, 20:21</string>
      <string>glyphs.F_eb 28 18, 20_21</string>
    </array>
    <array>
      <string>Feb 28 18, 20:25</string>
      <string>glyphs.F_eb 28 18, 20_25</string>
    </array>
    <array>
      <string>Apr 15 18, 01:25</string>
      <string>glyphs.A_pr 15 18, 01_25</string>
    </array>
    <array>
      <string>Feb 28 18, 20:33</string>
      <string>glyphs.F_eb 28 18, 20_33</string>
    </array>
    <array>
      <string>Feb 28 18, 21:18</string>
      <string>glyphs.F_eb 28 18, 21_18</string>
    </array>
    <array>
      <string>Feb 28 18, 21:19</string>
      <string>glyphs.F_eb 28 18, 21_19</string>
    </array>
    <array>
      <string>Apr 15 18, 01:28</string>
      <string>glyphs.A_pr 15 18, 01_28</string>
    </array>
    <array>
      <string>Feb 28 18, 21:10</string>
      <string>glyphs.F_eb 28 18, 21_10</string>
    </array>
    <array>
      <string>Feb 28 18, 21:12</string>
      <string>glyphs.F_eb 28 18, 21_12</string>
    </array>
    <array>
      <string>Feb 28 18, 21:14</string>
      <string>glyphs.F_eb 28 18, 21_14</string>
    </array>
    <array>
      <string>Feb 28 18, 19:39</string>
      <string>glyphs.F_eb 28 18, 19_39</string>
    </array>
    <array>
      <string>Feb 28 18, 19:41</string>
      <string>glyphs.F_eb 28 18, 19_41</string>
    </array>
    <array>
      <string>Feb 28 18, 20:34</string>
      <string>glyphs.F_eb 28 18, 20_34</string>
    </array>
    <array>
      <string>Apr 15 18, 02:14</string>
      <string>glyphs.A_pr 15 18, 02_14</string>
    </array>
    <array>
      <string>Feb 28 18, 20:37</string>
      <string>glyphs.F_eb 28 18, 20_37</string>
    </array>
    <array>
      <string>Apr 9 18, 13:22</string>
      <string>glyphs.A_pr 9 18, 13_22</string>
    </array>
    <array>
      <string>Apr 9 18, 15:30</string>
      <string>glyphs.A_pr 9 18, 15_30</string>
    </array>
    <array>
      <string>Apr 14 18, 20:24</string>
      <string>glyphs.A_pr 14 18, 20_24</string>
    </array>
    <array>
      <string>Apr 6 18, 10:47</string>
      <string>glyphs.A_pr 6 18, 10_47</string>
    </array>
    <array>
      <string>Apr 6 18, 10:48</string>
      <string>glyphs.A_pr 6 18, 10_48</string>
    </array>
    <array>
      <string>Apr 14 18, 18:59</string>
      <string>glyphs.A_pr 14 18, 18_59</string>
    </array>
    <array>
      <string>Apr 9 18, 15:23</string>
      <string>glyphs.A_pr 9 18, 15_23</string>
    </array>
    <array>
      <string>Apr 9 18, 13:49</string>
      <string>glyphs.A_pr 9 18, 13_49</string>
    </array>
    <array>
      <string>Apr 6 18, 11:37</string>
      <string>glyphs.A_pr 6 18, 11_37</string>
    </array>
    <array>
      <string>Apr 6 18, 12:27</string>
      <string>glyphs.A_pr 6 18, 12_27</string>
    </array>
    <array>
      <string>Apr 9 18, 16:01</string>
      <string>glyphs.A_pr 9 18, 16_01</string>
    </array>
    <array>
      <string>Apr 14 18, 19:55</string>
      <string>glyphs.A_pr 14 18, 19_55</string>
    </array>
    <array>
      <string>abajo curva</string>
      <string>glyphs.abajo curva</string>
    </array>
    <array>
      <string>Apr 14 18, 17:16</string>
      <string>glyphs.A_pr 14 18, 17_16</string>
    </array>
    <array>
      <string>Apr 6 18, 11:01</string>
      <string>glyphs.A_pr 6 18, 11_01</string>
    </array>
    <array>
      <string>Apr 6 18, 11:06</string>
      <string>glyphs.A_pr 6 18, 11_06</string>
    </array>
    <array>
      <string>Apr 14 18, 13:13</string>
      <string>glyphs.A_pr 14 18, 13_13</string>
    </array>
    <array>
      <string>Apr 9 18, 15:19</string>
      <string>glyphs.A_pr 9 18, 15_19</string>
    </array>
    <array>
      <string>Apr 14 18, 17:07</string>
      <string>glyphs.A_pr 14 18, 17_07</string>
    </array>
    <array>
      <string>Apr 29 18, 21:11</string>
      <string>glyphs.A_pr 29 18, 21_11</string>
    </array>
    <array>
      <string>Apr 14 18, 16:05</string>
      <string>glyphs.A_pr 14 18, 16_05</string>
    </array>
    <array>
      <string>Apr 14 18, 16:06</string>
      <string>glyphs.A_pr 14 18, 16_06</string>
    </array>
    <array>
      <string>Apr 14 18, 16:09</string>
      <string>glyphs.A_pr 14 18, 16_09</string>
    </array>
    <array>
      <string>Apr 14 18, 18:37</string>
      <string>glyphs.A_pr 14 18, 18_37</string>
    </array>
    <array>
      <string>Apr 14 18, 18:38</string>
      <string>glyphs.A_pr 14 18, 18_38</string>
    </array>
    <array>
      <string>Apr 14 18, 18:46</string>
      <string>glyphs.A_pr 14 18, 18_46</string>
    </array>
    <array>
      <string>Apr 14 18, 17:15</string>
      <string>glyphs.A_pr 14 18, 17_15</string>
    </array>
    <array>
      <string>Apr 14 18, 17:13</string>
      <string>glyphs.A_pr 14 18, 17_13</string>
    </array>
    <array>
      <string>Apr 14 18, 17:30</string>
      <string>glyphs.A_pr 14 18, 17_30</string>
    </array>
    <array>
      <string>Apr 14 18, 17:44</string>
      <string>glyphs.A_pr 14 18, 17_44</string>
    </array>
    <array>
      <string>Apr 20 18, 13:04</string>
      <string>glyphs.A_pr 20 18, 13_04</string>
    </array>
    <array>
      <string>Apr 9 18, 16:19</string>
      <string>glyphs.A_pr 9 18, 16_19</string>
    </array>
    <array>
      <string>Apr 9 18, 17:18</string>
      <string>glyphs.A_pr 9 18, 17_18</string>
    </array>
    <array>
      <string>Apr 9 18, 17:40</string>
      <string>glyphs.A_pr 9 18, 17_40</string>
    </array>
    <array>
      <string>Apr 9 18, 17:27</string>
      <string>glyphs.A_pr 9 18, 17_27</string>
    </array>
    <array>
      <string>Apr 9 18, 16:25</string>
      <string>glyphs.A_pr 9 18, 16_25</string>
    </array>
    <array>
      <string>Apr 9 18, 17:35</string>
      <string>glyphs.A_pr 9 18, 17_35</string>
    </array>
    <array>
      <string>Apr 9 18, 17:47</string>
      <string>glyphs.A_pr 9 18, 17_47</string>
    </array>
    <array>
      <string>Apr 9 18, 17:49</string>
      <string>glyphs.A_pr 9 18, 17_49</string>
    </array>
    <array>
      <string>Apr 9 18, 17:51</string>
      <string>glyphs.A_pr 9 18, 17_51</string>
    </array>
    <array>
      <string>Apr 9 18, 17:57</string>
      <string>glyphs.A_pr 9 18, 17_57</string>
    </array>
    <array>
      <string>Apr 14 18, 20:43</string>
      <string>glyphs.A_pr 14 18, 20_43</string>
    </array>
    <array>
      <string>Apr 9 18, 22:07</string>
      <string>glyphs.A_pr 9 18, 22_07</string>
    </array>
    <array>
      <string>Apr 14 18, 20:44</string>
      <string>glyphs.A_pr 14 18, 20_44</string>
    </array>
    <array>
      <string>Apr 14 18, 20:45</string>
      <string>glyphs.A_pr 14 18, 20_45</string>
    </array>
    <array>
      <string>Apr 14 18, 17:53</string>
      <string>glyphs.A_pr 14 18, 17_53</string>
    </array>
    <array>
      <string>Apr 14 18, 17:54</string>
      <string>glyphs.A_pr 14 18, 17_54</string>
    </array>
    <array>
      <string>Apr 14 18, 17:59</string>
      <string>glyphs.A_pr 14 18, 17_59</string>
    </array>
    <array>
      <string>Apr 14 18, 18:11</string>
      <string>glyphs.A_pr 14 18, 18_11</string>
    </array>
    <array>
      <string>Apr 14 18, 18:16</string>
      <string>glyphs.A_pr 14 18, 18_16</string>
    </array>
    <array>
      <string>Apr 14 18, 18:17</string>
      <string>glyphs.A_pr 14 18, 18_17</string>
    </array>
    <array>
      <string>Apr 14 18, 18:34</string>
      <string>glyphs.A_pr 14 18, 18_34</string>
    </array>
    <array>
      <string>Apr 14 18, 16:43</string>
      <string>glyphs.A_pr 14 18, 16_43</string>
    </array>
    <array>
      <string>Apr 14 18, 18:29</string>
      <string>glyphs.A_pr 14 18, 18_29</string>
    </array>
    <array>
      <string>Apr 14 18, 18:30</string>
      <string>glyphs.A_pr 14 18, 18_30</string>
    </array>
    <array>
      <string>Apr 14 18, 15:53</string>
      <string>glyphs.A_pr 14 18, 15_53</string>
    </array>
    <array>
      <string>Apr 14 18, 15:48</string>
      <string>glyphs.A_pr 14 18, 15_48</string>
    </array>
    <array>
      <string>Feb 28 18, 20:55</string>
      <string>glyphs.F_eb 28 18, 20_55</string>
    </array>
    <array>
      <string>Mar 23 18, 21:34</string>
      <string>glyphs.M_ar 23 18, 21_34</string>
    </array>
    <array>
      <string>Feb 28 18, 19:33</string>
      <string>glyphs.F_eb 28 18, 19_33</string>
    </array>
  </array>
</plist>
