<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D4D2C38F-E880-4D7E-B3B8-03E7989944BD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.rightArrow</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
