<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4F1F5B9D-C134-4628-80DA-D64051B72B19</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iishort-cy</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
