<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>27F57BB1-F89D-4F42-AA78-9010850FC884</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ii-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
