<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>58DFF2A0-1501-46F0-85E5-7AAF752E8898</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.onequarter</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
