<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EB93D095-0458-4D37-A3C6-8CF88C179ED0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hbar</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
