<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CDBC9D06-2808-45EA-B791-A69AEE4552D8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.uacute</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ucircumflex</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.udieresis</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ugrave</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
