<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>51F26867-BE72-41ED-9B93-3E1ACDB96248</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecyrillic-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecyrillic.case-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
