<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>47E3FBCB-11AB-4815-AC65-32C5036BF15F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dzhe-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sha-cy</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
