<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Feb 28 18, 18:19</string>
      <string>glyphs.F_eb 28 18, 18_19</string>
    </array>
    <array>
      <string>Mar 29 18, 16:44</string>
      <string>glyphs.M_ar 29 18, 16_44</string>
    </array>
    <array>
      <string>Mar 29 18, 16:46</string>
      <string>glyphs.M_ar 29 18, 16_46</string>
    </array>
    <array>
      <string>Mar 29 18, 16:48</string>
      <string>glyphs.M_ar 29 18, 16_48</string>
    </array>
    <array>
      <string>Apr 20 18, 12:14</string>
      <string>glyphs.A_pr 20 18, 12_14</string>
    </array>
    <array>
      <string>Mar 29 18, 16:57</string>
      <string>glyphs.M_ar 29 18, 16_57</string>
    </array>
    <array>
      <string>Mar 29 18, 16:56</string>
      <string>glyphs.M_ar 29 18, 16_56</string>
    </array>
    <array>
      <string>Apr 14 18, 19:19</string>
      <string>glyphs.A_pr 14 18, 19_19</string>
    </array>
    <array>
      <string>Mar 29 18, 16:51</string>
      <string>glyphs.M_ar 29 18, 16_51</string>
    </array>
    <array>
      <string>Mar 29 18, 16:58</string>
      <string>glyphs.M_ar 29 18, 16_58</string>
    </array>
    <array>
      <string>Feb 28 18, 18:31</string>
      <string>glyphs.F_eb 28 18, 18_31</string>
    </array>
    <array>
      <string>Mar 29 18, 16:52</string>
      <string>glyphs.M_ar 29 18, 16_52</string>
    </array>
    <array>
      <string>Apr 20 18, 12:15</string>
      <string>glyphs.A_pr 20 18, 12_15</string>
    </array>
    <array>
      <string>Apr 15 18, 01:44</string>
      <string>glyphs.A_pr 15 18, 01_44</string>
    </array>
    <array>
      <string>Mar 29 18, 14:54</string>
      <string>glyphs.M_ar 29 18, 14_54</string>
    </array>
    <array>
      <string>Mar 29 18, 14:59</string>
      <string>glyphs.M_ar 29 18, 14_59</string>
    </array>
    <array>
      <string>Apr 20 18, 12:16</string>
      <string>glyphs.A_pr 20 18, 12_16</string>
    </array>
    <array>
      <string>Apr 20 18, 12:17</string>
      <string>glyphs.A_pr 20 18, 12_17</string>
    </array>
    <array>
      <string>Mar 29 18, 14:51</string>
      <string>glyphs.M_ar 29 18, 14_51</string>
    </array>
    <array>
      <string>Apr 20 18, 12:18</string>
      <string>glyphs.A_pr 20 18, 12_18</string>
    </array>
    <array>
      <string>Apr 20 18, 12:19</string>
      <string>glyphs.A_pr 20 18, 12_19</string>
    </array>
    <array>
      <string>Mar 29 18, 17:00</string>
      <string>glyphs.M_ar 29 18, 17_00</string>
    </array>
    <array>
      <string>Apr 20 18, 12:20</string>
      <string>glyphs.A_pr 20 18, 12_20</string>
    </array>
    <array>
      <string>Mar 29 18, 15:08</string>
      <string>glyphs.M_ar 29 18, 15_08</string>
    </array>
    <array>
      <string>Mar 29 18, 15:03</string>
      <string>glyphs.M_ar 29 18, 15_03</string>
    </array>
    <array>
      <string>Feb 28 18, 21:24</string>
      <string>glyphs.F_eb 28 18, 21_24</string>
    </array>
    <array>
      <string>Apr 22 18, 18:09</string>
      <string>glyphs.A_pr 22 18, 18_09</string>
    </array>
    <array>
      <string>Mar 29 18, 15:05</string>
      <string>glyphs.M_ar 29 18, 15_05</string>
    </array>
    <array>
      <string>Apr 20 18, 12:51</string>
      <string>glyphs.A_pr 20 18, 12_51</string>
    </array>
    <array>
      <string>Mar 29 18, 12:09</string>
      <string>glyphs.M_ar 29 18, 12_09</string>
    </array>
    <array>
      <string>Apr 20 18, 12:21</string>
      <string>glyphs.A_pr 20 18, 12_21</string>
    </array>
    <array>
      <string>Mar 29 18, 16:54</string>
      <string>glyphs.M_ar 29 18, 16_54</string>
    </array>
    <array>
      <string>Feb 28 18, 21:16</string>
      <string>glyphs.F_eb 28 18, 21_16</string>
    </array>
    <array>
      <string>Feb 28 18, 21:20</string>
      <string>glyphs.F_eb 28 18, 21_20</string>
    </array>
    <array>
      <string>Apr 15 18, 01:27</string>
      <string>glyphs.A_pr 15 18, 01_27</string>
    </array>
    <array>
      <string>Feb 28 18, 21:13</string>
      <string>glyphs.F_eb 28 18, 21_13</string>
    </array>
    <array>
      <string>caron más angosto</string>
      <string>glyphs.caron más angosto</string>
    </array>
    <array>
      <string>Apr 15 18, 02:15</string>
      <string>glyphs.A_pr 15 18, 02_15</string>
    </array>
    <array>
      <string>horn más liviano</string>
      <string>glyphs.horn más liviano</string>
    </array>
    <array>
      <string>horn más abajo</string>
      <string>glyphs.horn más abajo</string>
    </array>
    <array>
      <string>Apr 11 17, 18:07</string>
      <string>glyphs.A_pr 11 17, 18_07</string>
    </array>
    <array>
      <string>Apr 12 17, 11:15</string>
      <string>glyphs.A_pr 12 17, 11_15</string>
    </array>
    <array>
      <string>Apr 12 17, 11:36</string>
      <string>glyphs.A_pr 12 17, 11_36</string>
    </array>
    <array>
      <string>Mar 29 18, 10:42</string>
      <string>glyphs.M_ar 29 18, 10_42</string>
    </array>
    <array>
      <string>Mar 29 18, 10:53</string>
      <string>glyphs.M_ar 29 18, 10_53</string>
    </array>
    <array>
      <string>Apr 11 17, 15:49</string>
      <string>glyphs.A_pr 11 17, 15_49</string>
    </array>
    <array>
      <string>Apr 20 18, 12:23</string>
      <string>glyphs.A_pr 20 18, 12_23</string>
    </array>
    <array>
      <string>Apr 11 17, 18:46</string>
      <string>glyphs.A_pr 11 17, 18_46</string>
    </array>
    <array>
      <string>Apr 11 17, 18:51</string>
      <string>glyphs.A_pr 11 17, 18_51</string>
    </array>
    <array>
      <string>Apr 11 17, 18:52</string>
      <string>glyphs.A_pr 11 17, 18_52</string>
    </array>
    <array>
      <string>Apr 12 17, 11:38</string>
      <string>glyphs.A_pr 12 17, 11_38</string>
    </array>
    <array>
      <string>Apr 12 17, 17:53</string>
      <string>glyphs.A_pr 12 17, 17_53</string>
    </array>
    <array>
      <string>Mar 29 18, 14:06</string>
      <string>glyphs.M_ar 29 18, 14_06</string>
    </array>
    <array>
      <string>Apr 20 18, 12:31</string>
      <string>glyphs.A_pr 20 18, 12_31</string>
    </array>
    <array>
      <string>Apr 11 17, 17:53</string>
      <string>glyphs.A_pr 11 17, 17_53</string>
    </array>
    <array>
      <string>Mar 29 18, 11:51</string>
      <string>glyphs.M_ar 29 18, 11_51</string>
    </array>
    <array>
      <string>Mar 29 18, 11:52</string>
      <string>glyphs.M_ar 29 18, 11_52</string>
    </array>
    <array>
      <string>Apr 11 17, 18:14</string>
      <string>glyphs.A_pr 11 17, 18_14</string>
    </array>
    <array>
      <string>Apr 11 17, 18:15</string>
      <string>glyphs.A_pr 11 17, 18_15</string>
    </array>
    <array>
      <string>Apr 12 17, 11:39</string>
      <string>glyphs.A_pr 12 17, 11_39</string>
    </array>
    <array>
      <string>Mar 29 18, 12:31</string>
      <string>glyphs.M_ar 29 18, 12_31</string>
    </array>
    <array>
      <string>Mar 29 18, 12:32</string>
      <string>glyphs.M_ar 29 18, 12_32</string>
    </array>
    <array>
      <string>Apr 20 18, 12:35</string>
      <string>glyphs.A_pr 20 18, 12_35</string>
    </array>
    <array>
      <string>Apr 11 17, 16:54</string>
      <string>glyphs.A_pr 11 17, 16_54</string>
    </array>
    <array>
      <string>Apr 11 17, 16:58</string>
      <string>glyphs.A_pr 11 17, 16_58</string>
    </array>
    <array>
      <string>Apr 12 17, 11:42</string>
      <string>glyphs.A_pr 12 17, 11_42</string>
    </array>
    <array>
      <string>Apr 12 17, 11:46</string>
      <string>glyphs.A_pr 12 17, 11_46</string>
    </array>
    <array>
      <string>Apr 11 17, 16:33</string>
      <string>glyphs.A_pr 11 17, 16_33</string>
    </array>
    <array>
      <string>Apr 11 17, 16:35</string>
      <string>glyphs.A_pr 11 17, 16_35</string>
    </array>
    <array>
      <string>Apr 11 17, 16:39</string>
      <string>glyphs.A_pr 11 17, 16_39</string>
    </array>
    <array>
      <string>Apr 11 17, 16:45</string>
      <string>glyphs.A_pr 11 17, 16_45</string>
    </array>
    <array>
      <string>Apr 12 17, 10:56</string>
      <string>glyphs.A_pr 12 17, 10_56</string>
    </array>
    <array>
      <string>Apr 12 17, 11:56</string>
      <string>glyphs.A_pr 12 17, 11_56</string>
    </array>
    <array>
      <string>Apr 12 17, 17:48</string>
      <string>glyphs.A_pr 12 17, 17_48</string>
    </array>
    <array>
      <string>Apr 20 18, 12:41</string>
      <string>glyphs.A_pr 20 18, 12_41</string>
    </array>
    <array>
      <string>Apr 11 17, 15:59</string>
      <string>glyphs.A_pr 11 17, 15_59</string>
    </array>
    <array>
      <string>Apr 12 17, 11:16</string>
      <string>glyphs.A_pr 12 17, 11_16</string>
    </array>
    <array>
      <string>Mar 29 18, 09:39</string>
      <string>glyphs.M_ar 29 18, 09_39</string>
    </array>
    <array>
      <string>Apr 11 17, 18:25</string>
      <string>glyphs.A_pr 11 17, 18_25</string>
    </array>
    <array>
      <string>Apr 11 17, 18:26</string>
      <string>glyphs.A_pr 11 17, 18_26</string>
    </array>
    <array>
      <string>Apr 11 17, 18:31</string>
      <string>glyphs.A_pr 11 17, 18_31</string>
    </array>
    <array>
      <string>Apr 12 17, 12:16</string>
      <string>glyphs.A_pr 12 17, 12_16</string>
    </array>
    <array>
      <string>Apr 12 17, 12:19</string>
      <string>glyphs.A_pr 12 17, 12_19</string>
    </array>
    <array>
      <string>Apr 12 17, 17:15</string>
      <string>glyphs.A_pr 12 17, 17_15</string>
    </array>
    <array>
      <string>Apr 12 17, 17:46</string>
      <string>glyphs.A_pr 12 17, 17_46</string>
    </array>
    <array>
      <string>Mar 29 18, 12:45</string>
      <string>glyphs.M_ar 29 18, 12_45</string>
    </array>
    <array>
      <string>Mar 29 18, 12:51</string>
      <string>glyphs.M_ar 29 18, 12_51</string>
    </array>
    <array>
      <string>Apr 11 17, 18:54</string>
      <string>glyphs.A_pr 11 17, 18_54</string>
    </array>
    <array>
      <string>Apr 20 18, 12:33</string>
      <string>glyphs.A_pr 20 18, 12_33</string>
    </array>
    <array>
      <string>Mar 29 18, 15:27</string>
      <string>glyphs.M_ar 29 18, 15_27</string>
    </array>
    <array>
      <string>Apr 12 17, 12:07</string>
      <string>glyphs.A_pr 12 17, 12_07</string>
    </array>
    <array>
      <string>Mar 29 18, 09:29</string>
      <string>glyphs.M_ar 29 18, 09_29</string>
    </array>
    <array>
      <string>Apr 12 17, 11:19</string>
      <string>glyphs.A_pr 12 17, 11_19</string>
    </array>
    <array>
      <string>Mar 29 18, 09:26</string>
      <string>glyphs.M_ar 29 18, 09_26</string>
    </array>
    <array>
      <string>Apr 12 17, 12:09</string>
      <string>glyphs.A_pr 12 17, 12_09</string>
    </array>
    <array>
      <string>Apr 11 17, 16:23</string>
      <string>glyphs.A_pr 11 17, 16_23</string>
    </array>
    <array>
      <string>Apr 11 17, 16:24</string>
      <string>glyphs.A_pr 11 17, 16_24</string>
    </array>
    <array>
      <string>Mar 29 18, 10:38</string>
      <string>glyphs.M_ar 29 18, 10_38</string>
    </array>
    <array>
      <string>Mar 29 18, 10:39</string>
      <string>glyphs.M_ar 29 18, 10_39</string>
    </array>
    <array>
      <string>Apr 11 17, 16:29</string>
      <string>glyphs.A_pr 11 17, 16_29</string>
    </array>
    <array>
      <string>Apr 12 17, 12:03</string>
      <string>glyphs.A_pr 12 17, 12_03</string>
    </array>
    <array>
      <string>Mar 29 18, 10:46</string>
      <string>glyphs.M_ar 29 18, 10_46</string>
    </array>
    <array>
      <string>Apr 12 17, 11:59</string>
      <string>glyphs.A_pr 12 17, 11_59</string>
    </array>
    <array>
      <string>Mar 29 18, 10:59</string>
      <string>glyphs.M_ar 29 18, 10_59</string>
    </array>
    <array>
      <string>Apr 11 17, 18:10</string>
      <string>glyphs.A_pr 11 17, 18_10</string>
    </array>
    <array>
      <string>Mar 29 18, 10:51</string>
      <string>glyphs.M_ar 29 18, 10_51</string>
    </array>
    <array>
      <string>Apr 14 18, 23:10</string>
      <string>glyphs.A_pr 14 18, 23_10</string>
    </array>
    <array>
      <string>Apr 11 17, 18:00</string>
      <string>glyphs.A_pr 11 17, 18_00</string>
    </array>
    <array>
      <string>Apr 12 17, 12:32</string>
      <string>glyphs.A_pr 12 17, 12_32</string>
    </array>
    <array>
      <string>Apr 12 17, 11:17</string>
      <string>glyphs.A_pr 12 17, 11_17</string>
    </array>
    <array>
      <string>Apr 12 17, 11:21</string>
      <string>glyphs.A_pr 12 17, 11_21</string>
    </array>
    <array>
      <string>Mar 29 18, 16:40</string>
      <string>glyphs.M_ar 29 18, 16_40</string>
    </array>
    <array>
      <string>Apr 11 17, 16:15</string>
      <string>glyphs.A_pr 11 17, 16_15</string>
    </array>
    <array>
      <string>Apr 11 17, 19:29</string>
      <string>glyphs.A_pr 11 17, 19_29</string>
    </array>
    <array>
      <string>Apr 11 17, 19:31</string>
      <string>glyphs.A_pr 11 17, 19_31</string>
    </array>
    <array>
      <string>Apr 11 17, 19:37</string>
      <string>glyphs.A_pr 11 17, 19_37</string>
    </array>
    <array>
      <string>Apr 12 17, 12:34</string>
      <string>glyphs.A_pr 12 17, 12_34</string>
    </array>
    <array>
      <string>Mar 29 18, 15:41</string>
      <string>glyphs.M_ar 29 18, 15_41</string>
    </array>
    <array>
      <string>Apr 14 18, 17:08</string>
      <string>glyphs.A_pr 14 18, 17_08</string>
    </array>
    <array>
      <string>Apr 11 17, 19:17</string>
      <string>glyphs.A_pr 11 17, 19_17</string>
    </array>
    <array>
      <string>Apr 11 17, 19:24</string>
      <string>glyphs.A_pr 11 17, 19_24</string>
    </array>
    <array>
      <string>Apr 11 17, 19:25</string>
      <string>glyphs.A_pr 11 17, 19_25</string>
    </array>
    <array>
      <string>Apr 12 17, 12:33</string>
      <string>glyphs.A_pr 12 17, 12_33</string>
    </array>
    <array>
      <string>Apr 12 17, 12:37</string>
      <string>glyphs.A_pr 12 17, 12_37</string>
    </array>
    <array>
      <string>Apr 12 17, 12:40</string>
      <string>glyphs.A_pr 12 17, 12_40</string>
    </array>
    <array>
      <string>Mar 29 18, 16:41</string>
      <string>glyphs.M_ar 29 18, 16_41</string>
    </array>
    <array>
      <string>Apr 20 18, 12:49</string>
      <string>glyphs.A_pr 20 18, 12_49</string>
    </array>
    <array>
      <string>Mar 29 18, 15:49</string>
      <string>glyphs.M_ar 29 18, 15_49</string>
    </array>
    <array>
      <string>Mar 29 18, 16:25</string>
      <string>glyphs.M_ar 29 18, 16_25</string>
    </array>
    <array>
      <string>Apr 14 18, 16:12</string>
      <string>glyphs.A_pr 14 18, 16_12</string>
    </array>
    <array>
      <string>Apr 14 18, 18:39</string>
      <string>glyphs.A_pr 14 18, 18_39</string>
    </array>
    <array>
      <string>Apr 14 18, 18:40</string>
      <string>glyphs.A_pr 14 18, 18_40</string>
    </array>
    <array>
      <string>Apr 14 18, 18:45</string>
      <string>glyphs.A_pr 14 18, 18_45</string>
    </array>
    <array>
      <string>Apr 14 18, 17:13</string>
      <string>glyphs.A_pr 14 18, 17_13</string>
    </array>
    <array>
      <string>Mar 29 18, 16:16</string>
      <string>glyphs.M_ar 29 18, 16_16</string>
    </array>
    <array>
      <string>Mar 29 18, 16:30</string>
      <string>glyphs.M_ar 29 18, 16_30</string>
    </array>
    <array>
      <string>Apr 12 17, 15:03</string>
      <string>glyphs.A_pr 12 17, 15_03</string>
    </array>
    <array>
      <string>Apr 12 17, 15:08</string>
      <string>glyphs.A_pr 12 17, 15_08</string>
    </array>
    <array>
      <string>Apr 12 17, 17:59</string>
      <string>glyphs.A_pr 12 17, 17_59</string>
    </array>
    <array>
      <string>Apr 14 18, 17:27</string>
      <string>glyphs.A_pr 14 18, 17_27</string>
    </array>
    <array>
      <string>Mar 30 18, 15:09</string>
      <string>glyphs.M_ar 30 18, 15_09</string>
    </array>
    <array>
      <string>Mar 30 18, 15:11</string>
      <string>glyphs.M_ar 30 18, 15_11</string>
    </array>
    <array>
      <string>Mar 30 18, 15:12</string>
      <string>glyphs.M_ar 30 18, 15_12</string>
    </array>
    <array>
      <string>Apr 12 17, 12:59</string>
      <string>glyphs.A_pr 12 17, 12_59</string>
    </array>
    <array>
      <string>Mar 30 18, 15:20</string>
      <string>glyphs.M_ar 30 18, 15_20</string>
    </array>
    <array>
      <string>Apr 20 18, 12:58</string>
      <string>glyphs.A_pr 20 18, 12_58</string>
    </array>
    <array>
      <string>Apr 12 17, 18:01</string>
      <string>glyphs.A_pr 12 17, 18_01</string>
    </array>
    <array>
      <string>Mar 30 18, 15:26</string>
      <string>glyphs.M_ar 30 18, 15_26</string>
    </array>
    <array>
      <string>Mar 30 18, 15:38</string>
      <string>glyphs.M_ar 30 18, 15_38</string>
    </array>
    <array>
      <string>Apr 12 17, 13:04</string>
      <string>glyphs.A_pr 12 17, 13_04</string>
    </array>
    <array>
      <string>Apr 12 17, 13:05</string>
      <string>glyphs.A_pr 12 17, 13_05</string>
    </array>
    <array>
      <string>Mar 30 18, 15:49</string>
      <string>glyphs.M_ar 30 18, 15_49</string>
    </array>
    <array>
      <string>trazo medio un toque más ancho</string>
      <string>glyphs.trazo medio un toque más ancho</string>
    </array>
    <array>
      <string>Apr 12 17, 18:05</string>
      <string>glyphs.A_pr 12 17, 18_05</string>
    </array>
    <array>
      <string>Apr 27 18, 23:21</string>
      <string>glyphs.A_pr 27 18, 23_21</string>
    </array>
    <array>
      <string>desde la k</string>
      <string>glyphs.desde la k</string>
    </array>
    <array>
      <string>Apr 12 17, 18:09</string>
      <string>glyphs.A_pr 12 17, 18_09</string>
    </array>
    <array>
      <string>Apr 14 18, 23:15</string>
      <string>glyphs.A_pr 14 18, 23_15</string>
    </array>
    <array>
      <string>Apr 27 18, 23:46</string>
      <string>glyphs.A_pr 27 18, 23_46</string>
    </array>
    <array>
      <string>Apr 12 17, 16:09</string>
      <string>glyphs.A_pr 12 17, 16_09</string>
    </array>
    <array>
      <string>Apr 20 18, 13:05</string>
      <string>glyphs.A_pr 20 18, 13_05</string>
    </array>
    <array>
      <string>Apr 12 17, 13:10</string>
      <string>glyphs.A_pr 12 17, 13_10</string>
    </array>
    <array>
      <string>Apr 12 17, 18:15</string>
      <string>glyphs.A_pr 12 17, 18_15</string>
    </array>
    <array>
      <string>Apr 12 17, 18:14</string>
      <string>glyphs.A_pr 12 17, 18_14</string>
    </array>
    <array>
      <string>Apr 20 18, 12:54</string>
      <string>glyphs.A_pr 20 18, 12_54</string>
    </array>
    <array>
      <string>Apr 9 18, 17:48</string>
      <string>glyphs.A_pr 9 18, 17_48</string>
    </array>
    <array>
      <string>Apr 27 18, 23:39</string>
      <string>glyphs.A_pr 27 18, 23_39</string>
    </array>
    <array>
      <string>Apr 12 17, 14:43</string>
      <string>glyphs.A_pr 12 17, 14_43</string>
    </array>
    <array>
      <string>Apr 12 17, 18:16</string>
      <string>glyphs.A_pr 12 17, 18_16</string>
    </array>
    <array>
      <string>Apr 12 17, 13:52</string>
      <string>glyphs.A_pr 12 17, 13_52</string>
    </array>
    <array>
      <string>Apr 12 17, 18:19</string>
      <string>glyphs.A_pr 12 17, 18_19</string>
    </array>
    <array>
      <string>Apr 9 18, 22:21</string>
      <string>glyphs.A_pr 9 18, 22_21</string>
    </array>
    <array>
      <string>Apr 12 17, 18:17</string>
      <string>glyphs.A_pr 12 17, 18_17</string>
    </array>
    <array>
      <string>Apr 14 18, 17:56</string>
      <string>glyphs.A_pr 14 18, 17_56</string>
    </array>
    <array>
      <string>Apr 14 18, 17:57</string>
      <string>glyphs.A_pr 14 18, 17_57</string>
    </array>
    <array>
      <string>Apr 14 18, 14:49</string>
      <string>glyphs.A_pr 14 18, 14_49</string>
    </array>
    <array>
      <string>Apr 14 18, 14:53</string>
      <string>glyphs.A_pr 14 18, 14_53</string>
    </array>
    <array>
      <string>Apr 14 18, 15:02</string>
      <string>glyphs.A_pr 14 18, 15_02</string>
    </array>
    <array>
      <string>Apr 14 18, 15:10</string>
      <string>glyphs.A_pr 14 18, 15_10</string>
    </array>
    <array>
      <string>Apr 14 18, 15:17</string>
      <string>glyphs.A_pr 14 18, 15_17</string>
    </array>
    <array>
      <string>Apr 14 18, 15:16</string>
      <string>glyphs.A_pr 14 18, 15_16</string>
    </array>
    <array>
      <string>Apr 15 18, 02:10</string>
      <string>glyphs.A_pr 15 18, 02_10</string>
    </array>
    <array>
      <string>Apr 14 18, 15:20</string>
      <string>glyphs.A_pr 14 18, 15_20</string>
    </array>
    <array>
      <string>Apr 14 18, 15:22</string>
      <string>glyphs.A_pr 14 18, 15_22</string>
    </array>
    <array>
      <string>Apr 14 18, 15:26</string>
      <string>glyphs.A_pr 14 18, 15_26</string>
    </array>
    <array>
      <string>Apr 14 18, 15:28</string>
      <string>glyphs.A_pr 14 18, 15_28</string>
    </array>
    <array>
      <string>Apr 14 18, 15:34</string>
      <string>glyphs.A_pr 14 18, 15_34</string>
    </array>
    <array>
      <string>Apr 14 18, 15:35</string>
      <string>glyphs.A_pr 14 18, 15_35</string>
    </array>
    <array>
      <string>Apr 14 18, 15:40</string>
      <string>glyphs.A_pr 14 18, 15_40</string>
    </array>
    <array>
      <string>Apr 14 18, 15:42</string>
      <string>glyphs.A_pr 14 18, 15_42</string>
    </array>
    <array>
      <string>Apr 14 18, 15:44</string>
      <string>glyphs.A_pr 14 18, 15_44</string>
    </array>
    <array>
      <string>Apr 14 18, 15:30</string>
      <string>glyphs.A_pr 14 18, 15_30</string>
    </array>
    <array>
      <string>Apr 14 18, 15:31</string>
      <string>glyphs.A_pr 14 18, 15_31</string>
    </array>
    <array>
      <string>Apr 14 18, 15:41</string>
      <string>glyphs.A_pr 14 18, 15_41</string>
    </array>
    <array>
      <string>Apr 27 18, 22:40</string>
      <string>glyphs.A_pr 27 18, 22_40</string>
    </array>
    <array>
      <string>Apr 22 18, 17:44</string>
      <string>glyphs.A_pr 22 18, 17_44</string>
    </array>
    <array>
      <string>Apr 22 18, 18:05</string>
      <string>glyphs.A_pr 22 18, 18_05</string>
    </array>
    <array>
      <string>Feb 28 18, 21:39</string>
      <string>glyphs.F_eb 28 18, 21_39</string>
    </array>
    <array>
      <string>Apr 15 18, 01:36</string>
      <string>glyphs.A_pr 15 18, 01_36</string>
    </array>
    <array>
      <string>Dec 13 17, 13:32</string>
      <string>glyphs.D_ec 13 17, 13_32</string>
    </array>
    <array>
      <string>Mar 30 18, 15:30</string>
      <string>glyphs.M_ar 30 18, 15_30</string>
    </array>
  </array>
</plist>
