<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>88077505-E74C-4983-9053-FBA5AC0D6E58</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eng</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
