<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9661E0D1-DF3C-4F20-87B0-0FCB7B5B3007</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.E-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
