<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>083A4DD6-7B22-48FC-9F05-058BD757B009</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.De-cy</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
