<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4E0ADA1C-92DE-418C-9527-EF4BABDC71E0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.aacute</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ntilde</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tildecomb</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tildecomb.001</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tildecombo</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
