<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Jcircumflex</key>
    <string>J_circumflex.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
  </dict>
</plist>
