<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>26A07A89-1409-4FA7-A85F-2B34EE2140B8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Jcircumflex</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Nacute</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yacute</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
