<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>74ED9B51-B76C-412F-B557-BD74B91D370B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.upArrow</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
