<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9881050A-66CE-4191-BE31-FD97A9CFE7B2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.shcha-cy</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
