<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A5BD1B43-8226-44D0-9E37-98768B1335A6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dzhe-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Pe-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
