<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>54DFCCCF-D600-4F1B-9CA3-9DB92D901F75</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.upArrow</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
