<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aring</string>
      <string>Aacute</string>
      <string>Adieresis</string>
      <string>Atilde</string>
      <string>Acircumflex</string>
      <string>Agrave</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>Edieresis</string>
      <string>Ecircumflex</string>
      <string>Eacute</string>
      <string>Egrave</string>
      <string>E</string>
      <string>OE</string>
      <string>AE</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>Ntilde</string>
      <string>H</string>
      <string>M</string>
      <string>N</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>Idieresis</string>
      <string>Icircumflex</string>
      <string>Iacute</string>
      <string>Igrave</string>
      <string>I</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>Odieresis</string>
      <string>Otilde</string>
      <string>Ocircumflex</string>
      <string>Oacute</string>
      <string>Ograve</string>
      <string>D</string>
      <string>O</string>
      <string>Q</string>
      <string>Eth</string>
      <string>Oslash</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>U</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
      <string>W</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Yacute</string>
      <string>Y</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>aring</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>agrave</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>ccedilla</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.comma</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>e</string>
      <string>edieresis</string>
      <string>ecircumflex</string>
      <string>eacute</string>
      <string>egrave</string>
      <string>ae</string>
      <string>oe</string>
    </array>
    <key>public.kern1.guillemotleft</key>
    <array>
      <string>guilsinglleft</string>
      <string>guillemotleft</string>
    </array>
    <key>public.kern1.guillemotright</key>
    <array>
      <string>guilsinglright</string>
      <string>guillemotright</string>
    </array>
    <key>public.kern1.h</key>
    <array>
      <string>n</string>
      <string>m</string>
      <string>h</string>
      <string>ntilde</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>uni00AD</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>j</string>
      <string>i</string>
      <string>idieresis</string>
      <string>icircumflex</string>
      <string>iacute</string>
      <string>igrave</string>
      <string>dotlessi</string>
      <string>dotlessj</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>d</string>
      <string>q</string>
      <string>l</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>p</string>
      <string>o</string>
      <string>b</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>thorn</string>
      <string>oslash</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>u</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>w</string>
    </array>
    <key>public.kern1.y</key>
    <array>
      <string>yacute</string>
      <string>ydieresis</string>
      <string>y</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aring</string>
      <string>Aacute</string>
      <string>Adieresis</string>
      <string>Atilde</string>
      <string>Acircumflex</string>
      <string>Agrave</string>
    </array>
    <key>public.kern2.B</key>
    <array>
      <string>Ntilde</string>
      <string>Edieresis</string>
      <string>Ecircumflex</string>
      <string>Eacute</string>
      <string>Egrave</string>
      <string>B</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>H</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>P</string>
      <string>R</string>
      <string>Eth</string>
      <string>Lslash</string>
      <string>Thorn</string>
      <string>Nacute</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>K</string>
    </array>
    <key>public.kern2.C</key>
    <array>
      <string>Odieresis</string>
      <string>Otilde</string>
      <string>Ocircumflex</string>
      <string>Oacute</string>
      <string>Ograve</string>
      <string>C</string>
      <string>G</string>
      <string>O</string>
      <string>Q</string>
      <string>OE</string>
      <string>Oslash</string>
      <string>Ccedilla</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>Idieresis</string>
      <string>Icircumflex</string>
      <string>Iacute</string>
      <string>Igrave</string>
      <string>I</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>U</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
      <string>W</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Yacute</string>
      <string>Y</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>aring</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>ae</string>
      <string>agrave</string>
    </array>
    <key>public.kern2.c</key>
    <array>
      <string>o</string>
      <string>d</string>
      <string>e</string>
      <string>q</string>
      <string>c</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>edieresis</string>
      <string>ecircumflex</string>
      <string>eacute</string>
      <string>egrave</string>
      <string>oe</string>
      <string>eth</string>
      <string>oslash</string>
      <string>ccedilla</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.comma</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>germandbls</string>
    </array>
    <key>public.kern2.guillemotleft</key>
    <array>
      <string>guilsinglleft</string>
      <string>guillemotleft</string>
    </array>
    <key>public.kern2.guillemotright</key>
    <array>
      <string>guilsinglright</string>
      <string>guillemotright</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>uni00AD</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>j</string>
      <string>i</string>
      <string>idieresis</string>
      <string>icircumflex</string>
      <string>iacute</string>
      <string>igrave</string>
      <string>dotlessi</string>
      <string>dotlessj</string>
    </array>
    <key>public.kern2.l</key>
    <array>
      <string>p</string>
      <string>b</string>
      <string>h</string>
      <string>l</string>
      <string>k</string>
      <string>ldot</string>
      <string>kcommaaccent</string>
    </array>
    <key>public.kern2.m</key>
    <array>
      <string>n</string>
      <string>m</string>
      <string>r</string>
      <string>ntilde</string>
      <string>nacute</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern2.quotedbl</key>
    <array>
      <string>quotesingle</string>
      <string>quotedbl</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>w</string>
    </array>
    <key>public.kern2.y</key>
    <array>
      <string>yacute</string>
      <string>ydieresis</string>
      <string>y</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
    </array>
  </dict>
</plist>
