<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>213E6C8A-91FF-4AD1-BDB3-109B97718EDA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.lje-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
