<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9EE7B57D-F80E-4B2F-BA2D-2ABE88A6A84A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.upArrow</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
