<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Abrevehookabove</key>
    <string>A_brevehookabove.glif</string>
    <key>Acircumflexhookabove</key>
    <string>A_circumflexhookabove.glif</string>
    <key>De-cy</key>
    <string>D_e-cy.glif</string>
    <key>Ii-cy</key>
    <string>I_i-cy.glif</string>
    <key>Lje-cy</key>
    <string>L_je-cy.glif</string>
    <key>Ocircumflexhookabove</key>
    <string>O_circumflexhookabove.glif</string>
    <key>U-cy</key>
    <string>U_-cy.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>de-cy</key>
    <string>de-cy.glif</string>
    <key>em-cy</key>
    <string>em-cy.glif</string>
    <key>ihookabove</key>
    <string>ihookabove.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>ohorntilde</key>
    <string>ohorntilde.glif</string>
    <key>shcha-cy</key>
    <string>shcha-cy.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>ustraitstroke-cy</key>
    <string>ustraitstroke-cy.glif</string>
  </dict>
</plist>
