<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>28AE230D-6190-4165-AFAD-2BB3FBFA9602</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.three</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
