<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7FD60D0D-D8E0-4554-81E0-CC87312D3B1A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.U-cy</key>
      <integer>17</integer>
    </dict>
  </dict>
</plist>
