<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>brevecyrillic-cy</key>
    <string>brevecyrillic-cy.glif</string>
    <key>brevecyrillic.case-cy</key>
    <string>brevecyrillic.case-cy.glif</string>
  </dict>
</plist>
