<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F565DB6B-0A90-4578-8B66-A659DCA66F04</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecyrillic-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecyrillic.case-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
