<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7FA095DF-841D-4AD3-8D74-1206C40B82CB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.horncomb</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
