<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AAB3A2CB-D9E4-4785-B44E-655D3CC15879</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Nje-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
