<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>76E8E35F-FB52-4EBA-8F91-32F62E010AC4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.downArrow</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.upArrow</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
